JWS Compact Serialization vs. General JWS JSON Serialization

Currently JWS Compact Serialization (https://datatracker.ietf.org/doc/html/rfc7515#section-7.1) is elaborated in this draft.  
Do we also need support for JWS JSON Serialization (esp. General JWS JSON Serialization https://datatracker.ietf.org/doc/html/rfc7515#section-7.2.1) to support further uses cases/features? 
(e.g. more than one signature like OPC UA ticket, additional signature on Voucher by Registrar, ...)   



1) Looks like Voucher RFC 8366 using CMS is not aware of more than one signature on the voucher object.  
CMS RFC 5652 could support more than on signature using "SignerInfos ::= SET OF SignerInfo" means. 
(https://datatracker.ietf.org/doc/html/rfc5652#section-5.1)    
-> Is Voucher RFC 8366 limited to one signature by design?   

2)  Looks like "draft-ietf-anima-constrained-voucher" currently supports COSE_Sign1, means only one signature as in JWS Compact Serialization of RFC 7515 is supported.
(see details: https://datatracker.ietf.org/doc/html/draft-ietf-anima-constrained-voucher-15#section-9.3, https://datatracker.ietf.org/doc/html/rfc8152#section-2)   
-> Is "draft-ietf-anima-constrained-voucher" limited to one signature by design?    

3) Vouchers in form of "anima-jws-voucher" should be consisted to vouchers CMS signed (1) and COSE signed (2).
In case it is desired to be flexible for future use cases supporting more than on signature (e.g. Registrar checks and adds additional signature to Voucher, anima-brski-prm#13), this should also be considered for (1) and (2) 

As discussed and agreed in design team call 2022-01-13, "anima-jws-voucher" will switch from JWS Compact Serialization to General JWS JSON Serialization.

added examples in "General JWS JSON Serialization" to A1, A2, A3 for:  
- Pledge Voucher Request - PVR  
- Registrar Voucher Request - RVR  
- MASA Voucher Response  

This can be closed.